<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sickfuture.letswatch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.LetsWatchApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".app.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.activity.tmdb.MovieActivity" >
        </activity>
        <activity android:name=".app.activity.tmdb.PeopleActivity" >
        </activity>
        <activity android:name=".app.activity.tmdb.UserActivity" >
        </activity>
        <activity android:name=".app.activity.tmdb.DiscoverActivity" >
        </activity>
        <activity
            android:name=".app.activity.FullScreenImageActivity"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity android:name=".app.activity.MovieDetailsActivity" >
        </activity>
        <activity
            android:name=".app.activity.SearchActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service android:name="com.android.sickfuture.sickcore.service.SourceService" >
        </service>
        <service android:name="com.sickfuture.letswatch.service.LoadingService" >
        </service>

        <provider
            android:name=".content.provider.MoviesProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.MoviesProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.dvd.CurrentReleaseProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.dvd.CurrentReleaseProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.dvd.TopRentalsProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.dvd.TopRentalsProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.dvd.NewReleaseProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.dvd.NewReleaseProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.dvd.UpcomingDvdProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.dvd.UpcomingDvdProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.theaters.BoxOfficeProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.theaters.BoxOfficeProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.theaters.InTheatersProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.theaters.InTheatersProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.theaters.OpeningProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.theaters.OpeningProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.theaters.UpcomingProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.theaters.UpcomingProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.theaters.UpcomingProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.theaters.UpcomingProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.RecentMovieSuggestionsProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.RecentMovieSuggestionsProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.android.sickfuture.sickcore.provider.AppRequestsProvider"
            android:authorities="com.android.sickfuture.sickcore.provider.AppRequestsProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.TmdbPopularProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.TmdbPopularProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.TmdbNowPlayingProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.TmdbNowPlayingProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.TmdbTopRatedProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.TmdbTopRatedProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.TmdbUpcomingProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.TmdbUpcomingProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.TitlesProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.TitlesProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.CastProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.CastProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.CrewProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.CrewProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.ImagesProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.ImagesProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.KeywordsProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.KeywordsProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.ReleasesProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.ReleasesProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.TrailersProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.TrailersProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.ReviewsProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.ReviewsProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.ListsProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.ListsProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.MovieToCollectionProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.MovieToCollectionProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.MovieToCompanyProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.MovieToCompanyProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.ListProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.ListProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.CollectionProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.CollectionProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.ListProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.ListProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.PersonProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.PersonProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.GenresProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.GenresProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.PopularPersonsProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.PopularPersonsProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.SearchedMoviesProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.SearchedMoviesProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".content.provider.tmdb.SearchedPersonsProvider"
            android:authorities="com.sickfuture.letswatch.content.provider.tmdb.SearchedPersonsProvider"
            android:exported="false" >
        </provider>
    </application>

</manifest>